*{
  margin: 0;
  padding: 0;
}
.container{
  max-width: 1500px;
  padding-left: 30%;
  padding-right: 30%;
  width: auto;
}
.contain{
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header{
  border-bottom: 1px solid #EEEEEE
}
img{
  width: 100%;
}
.option{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.option a{
  text-decoration: none;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  margin-left: 20px;
  color: black;
}
.option .Active{
  color: #0000FF;
}
.body{
  margin-top: 60px;
  margin-bottom: 100px;
}
.body .text{
  margin-bottom: 60px;
}
.body .text h1{
  font-family: Inter;
  font-size: 35px;
  font-weight: 800;
  line-height: 42.36px;
  text-align: left;
}
.body .text p{
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
  color: #666666;
}
.footer p{
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: center;
  color: #666666;
  margin-bottom: 160px;
}
.footer p span{
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  color: #0000FF;
}
/*Home page*/
.body .insert{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.body input{
  width: calc(100% - 150px);
  height: 48px;
  border-radius: 8px ;
  opacity: 0px;
  border: none;
  border: 2px solid #EEEEEE;
  padding-left: 10px;
  color: #666666;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
  text-align: left;
}
.body button{
  color: #FFFFFF;
  background: #0000FF;
  border: none;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.2px;
  text-align: center;
  width: 130px;
  height: 48px;
  border-radius: 8px ;  
}
.adding{
  display: none;
  margin-top: 100px;
}
.adding button{
  width: 100%;
}
.body .item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}
.body .item .card{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #F6F6F6;
  width: 100%;
  height: 72px;
  border-radius: 8px ;
}
.body .item .card img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.body .item .card button{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.body .item .card p{
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 24.2px;
text-align: left;
margin-left: 10px;
}
.amount{
  margin-top: 20px;
  display: flex;
  gap: 5px;
}
.amount p , h4{
  font-family: Inter;
  text-align: left;
  color: #666666;
}
.amount h4{
  color: black;
}
@media screen and (max-width:1000px) {
  .body .text h1{
      font-size: 30px;
  }
  .body .text p{
      font-size: 13px;
  }
  .contain{
      height: 50px;
  }
  .contain img{
      height: 15px;
  }
  .header .option a{
      font-size: 15px;
  }
}
@media screen and (max-width:600px) {
  .body .text h1{
      font-size: 25px;
  }
  .container {
      padding-left: 20px;
      padding-right: 20px;
  }
  
}

/* Home page*/

@media screen and (max-width:800px) {
  .adding{
      display: block;
  }
  .body .insert button{
      display: none;
  }
  .body input{
      width: 100% ;
  }
  .body input{
      margin-top: -10px;
  }
}